@fotntamily{
    font-family: 'Tilt Neon', sans-serif;
}

header{
    background-color: #e79eaa;
    filter: drop-shadow(2px 4px 8px rgb(73, 55, 37));
}

header, h1{
    margin-top: 0%;
    margin-bottom: 10px;
    padding-top: 20px;
    color: #6e414e;
    font-family: 'Tilt Neon', sans-serif;
    text-align: center;
    font-size: 100px;
}

.brands{
    width: 20%;
    margin-left: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size: 60px;
}

body{
    margin: 0;
    background: rgb(242,217,182);
    background: radial-gradient(circle, rgba(242,217,182,1) 18%, rgba(219,165,129,0.9752275910364145) 100%);
}

section{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.card{
    margin-bottom: 75px;
    font-family: 'Tilt Neon', sans-serif;
    border: #85656e solid 5px;
    background-color:#e7c8b9;
    transition: background-color 2.5s, border 2.5s, filter 3s;
    width: 420px;
    border-radius: 10%;
    text-align: center;
    filter: drop-shadow(2px 5px 7px rgb(68, 43, 31));
}

.card:hover{
    background-color: #98e0e0;
    border: #4a5f99 solid 5px;
    filter: drop-shadow(2px 7px 42px rgb(104, 89, 146));
}

p{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 25px;
}

img{
    width: 375px;
    height: 349px;
    border-radius: 5%;
    transition: filter 3s;
}

img:hover{
    filter: saturate(115%);
}

#specialCard{
    margin-bottom: 75px;
    font-family: 'Tilt Neon', sans-serif;
    border: rgb(117, 74, 143) solid 5px;
    background-color:rgb(240, 169, 191);
    transition: background-color 2s, border-color 2s, transform 6s;
    width: 420px;
    border-radius: 10%;
    text-align: center;
    filter: drop-shadow(2px 5px 7px rgb(68, 43, 31));
}

#specialCard:hover{
    background-color:rgb(211, 141, 141);
    border-color:rgb(173, 102, 80);
    transform:scale(1.2);
}